services:
  spark-master:
    image: apache/spark:3.5.1
    container_name: spark-master
    command: ["/opt/spark/bin/spark-class", "org.apache.spark.deploy.master.Master"]
    ports:
      - "8080:8080"
      - "7077:7077"
    networks: [spark-net]

  spark-worker-1:
    image: apache/spark:3.5.1
    container_name: spark-worker-1
    depends_on: [spark-master]
    command:
      [
        "/opt/spark/bin/spark-class",
        "org.apache.spark.deploy.worker.Worker",
        "spark://spark-master:7077"
      ]
    ports:
      - "8081:8081"
    networks: [spark-net]

networks:
  spark-net:
    driver: bridge